<%= render 'shared/error_messages' %>
<div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
</div>
<div class="form-group">
    <%= f.label :link %>
    <%= f.text_field :link, class: 'form-control' %>
</div>
<div class="form-group">
    <%= f.label :image_name %>
    <%= f.text_field :image_name, class: 'form-control' %>
</div>
<div class="form-group">
    <%= f.label :category, "Category" %>
    <%= f.select(:category) do %>
      <% [['WebOps', 'WebOps']].each do |c| -%>
        <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
</div>
<div class="form-group">
    <%= f.label :sub_category, "Sub-category" %>
    <%= f.select(:sub_category) do %>
      <% [['Frontend', 'Frontend'],
          ['Backend', 'Backend'],
          ['Tutorial', 'Tutorial'],
          ['Software', 'Frontend']].each do |c| -%>
        <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
</div>